.contenedorDetalles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95vw;
    height: 83vh;
}
.imgDet{
    width: 40vw;
    height: 40  vw;
    border-radius: 200px;
    -webkit-box-shadow: 1px 2px 11px 12px rgba(0,0,0,0.52); 
box-shadow: 1px 2px 11px 12px rgba(29, 71, 133, 0.52);
}
.detalles{
    width: 95vw;
    height: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
}
.masDetalles{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 40px;
}

.masDetalles h5{
    margin: 0;
    color: rgb(68, 101, 161);
}
.masDetalles h4{
    margin: 5px;
}
.imgDetalle{
    margin: 40px;
}
.nada{
    width: 50vw;
}
@media only screen and (min-width: 100px) and (max-width: 500px){
    .detalles {
        width: 95vw;
        height: auto;
        display: flex;
        align-items: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        flex-direction: column;
        justify-content: center;
    }
    .nada{
        width: 90vw;
    }
}
@media only screen and (min-width: 100px) and (max-width: 500px){
    .nada{
        width: 90vw;
    }
}