.contenedorImg{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

.logo:hover{
    background-color: rgba(62, 96, 209, 0.685);
    border-radius: 50px;
    padding: 10px;
}

@media (max-width: 600px) {
    img{
        width: 70vw;
        height: auto;
    }
}