nav{
    position: relative;
    width: 97vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgba(62, 96, 209, 0.685);
    border-radius: 5px;
    margin: 9px;
    align-content: center;
}
.ulNav{
    width: 100vw;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.ulBuscar{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}
li{
    margin: 10px;   
}
.menu{
    width: auto;
    list-style: none;
    text-decoration: none;
    background-color: rgb(241, 255, 255);
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    color:rgba(62, 96, 209, 0.685);
    transition-duration: 0.7s;
}
.menu:hover{
    color: rgb(218, 181, 79);
    background-color: rgb(0, 0, 0);
}
.dogIcon{
    position: absolute;
    width: 60px;
    margin-top: -10px;
    transition-duration: 0.7s;

}
.dogIcon:hover{
    width: 65px;
}

.NavMenu{
    width:96vw;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.NavBuscar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 96vw;
}

input[type=text] {
    height: 10px;
    padding: 6px;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    font-family: 'Righteous', cursive;
  }
  .btnlink{
      text-decoration: none;
  }
  .huella{
      width: 25px;
  }
  .imgbuscar:hover{
      background-color: rgb(38, 51, 56);
      border-radius: 10px;
  }
  .NavBuscar{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

@media only screen and (min-width: 400px) and (max-width: 600px) {
    .NavMenu{
        width:100vw;
        display: flex;
        justify-content: center;
    }
    .NavBuscar{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
   .menu{
    list-style: none;
    text-decoration: none;
    background-color: rgba(193, 199, 199, 0.918);
    padding: 5px;
    font-size: 10px;
    border-radius: 10px; 
   }
   .dogIcon{
    position: absolute;
    width: 49px;
    margin-top: 1px;
    left: 20px;
    transition-duration: 0.7s;
    }
  }
  @media only screen and (min-width: 100px) and (max-width: 400px) {
    nav{
        width: 97vw;
        margin: 0;
    }
   .dogIcon{
    position: absolute;
    width: 29px;
    margin-top: 32px;
    left: 20px;
    transition-duration: 0.7s;
    }
    .ulNav li a{
        font-size: 13px;
    }
  }
  